@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=VT323&display=swap');
	
.welcome-bg{
    -fx-background-color: white;
}

.login-box{
    -fx-pref-width: 450px;
    -fx-pref-height: 150px;
    -fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-effect: dropshadow(gaussian, #E7EABF, 20, 0.3, 0, 0);
    -fx-padding: 40px 40px 30px 40px;
}

.login-font{
	-fx-font-family: "Dotemp 8bit";
	-fx-font-size: 50px;
}

.login-textfields{
	-fx-background-image: url("/assets/signin_placeholder_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 50%;
    -fx-background-size: 30px 30px;
    -fx-padding: 0 0 0 60;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "VT323"; 
    -fx-font-size: 21px; 
}

.showpass-style .box{
	-fx-background-color: white; 
    -fx-border-color: transparent; 
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.showpass-style .text{
	-fx-font-family: "VT323"; 
    -fx-font-size: 21px; 
}

.login-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 24px; 
}

.login-button:hover{
    -fx-background-color: #E5E8C9;

}

.clickable-style{
	-fx-focus-color: transparent;
	-fx-text-fill: #8cb021;
	-fx-underline: false;
	-fx-font-family: "VT323";
	-fx-font-size: 21px;
}

.textflow-custom {
    -fx-font-family: "VT323";
    -fx-font-size: 18px;
}

.tagline-style{
	-fx-font-family: "VT323", serif;
  	-fx-font-style: normal;
  	-fx-font-size: 32px;
}

.combo-box {
	-fx-background-image: url("/assets/signin_placeholder_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 50%;
    -fx-background-size: 30px 30px;
    -fx-padding: 0 0 0 60;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "VT323"; 
    -fx-font-size: 18px; 
    -fx-prompt-text-fill: #cccccc;
}

.create-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 18px; 
}

.create-button:hover{
    -fx-background-color: #E5E8C9;
}

.success-style{
	-fx-pref-width: 400px;
    -fx-pref-height: 200px;
	-fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-font-family: "VT323";
    -fx-font-size: 21px;
}

.sidebutton{
	-fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 140px;        
    -fx-pref-height: 40px;        
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px 10px 0px 10px;
    -fx-font-size: 28px;
    -fx-font-family: "Jersey 10";
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0;     
    -fx-alignment: center;
    -fx-cursor: hand;  
}

.sidebutton:hover{
    -fx-font-size: 30px;
    -fx-font-family: "Jersey 10";
    -fx-font-weight: bold; 
}

.sidebar{
	-fx-background-color: #4E7711; 
	-fx-pref-width: 140px; 
	-fx-max-height: infinity;
}

.hello-style{
	-fx-font-size: 32px;
	-fx-font-family: "Dotempt 8bit";
	-fx-font-weight: bold;
	-fx-text-alignment: justify;
}

.paragraph-style{
	-fx-font-size: 28px;
	-fx-font-family: "VT323";
	-fx-padding: 0px 50px 10px 50px;
	-fx-text-alignment: justify;
	-fx-text-fill: #486F0E; 
}
