@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jersey+10&family=VT323&display=swap');
	
.welcome-bg{
    -fx-background-color: white;
}

.info-box{
    -fx-pref-width: 450px;
    -fx-pref-height: 150px;
    -fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-effect: dropshadow(gaussian, #E7EABF, 20, 0.3, 0, 0);
    -fx-padding: 30px 40px 30px 40px;
}

.login-box{
    -fx-pref-width: 450px;
    -fx-pref-height: 150px;
    -fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-effect: dropshadow(gaussian, #E7EABF, 20, 0.3, 0, 0);
    -fx-padding: 70px 40px 30px 40px;
}

.dash-box{
    -fx-pref-width: 450px;
    -fx-pref-height: 150px;
    -fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-effect: dropshadow(gaussian, #E7EABF, 20, 0.3, 0, 0);
    -fx-padding: 30px 40px 30px 40px;
}

.login-font{
	-fx-font-family: "Dotemp 8bit";
	-fx-effect: dropshadow( one-pass-box , #a6be5d , 2, 0.0 , 0 , 0 );
	-fx-font-size: 50px;
}

.login-textfields{
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "VT323"; 
    -fx-font-size: 21px; 
}

.showpass-style .box{
	-fx-background-color: white; 
    -fx-border-color: transparent; 
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.showpass-style .text{
	-fx-font-family: "VT323"; 
    -fx-font-size: 21px; 
}

.login-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 24px; 
}

.login-button:hover{
    -fx-background-color: #E5E8C9;
}

.clickable-style{
	-fx-focus-color: transparent;
	-fx-text-fill: #8cb021;
	-fx-underline: false;
	-fx-font-family: "VT323";
	-fx-font-size: 21px;
}

.textflow-custom {
    -fx-font-family: "VT323";
    -fx-font-size: 18px;
}

.tagline-style{
	-fx-font-family: "VT323", serif;
  	-fx-font-style: normal;
  	-fx-font-size: 32px;
}

.combo-box {
    -fx-background-size: 30px 30px;
    -fx-padding: 0 70 0 60;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "VT323"; 
    -fx-font-size: 21px; 
    -fx-prompt-text-fill: #cccccc;
}

/* change blue color when selecting combo box */
.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #789D2B;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #789D2B;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #4E7711;
    -fx-text-fill: white;
}

.combo-box-popup .list-view:focused .list-cell:filled:selected {
    -fx-background-color: #789D2B;
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-selection-bar: #4E7711;
    -fx-selection-bar-non-focused: #789D2B;
}

.create-button{
	-fx-text-fill: white;
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 18px; 
}

.create-button:hover{
    -fx-background-color: #E5E8C9;
    -fx-text-fill: #a6be5d;
}

.back-button{
	-fx-text-fill: #a6be5d;
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #E5E8C9;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, #E7EABF, 20, 0.3, 0, 0); 
}

.back-button:hover{
    -fx-background-color:  #a6be5d;
    -fx-text-fill: white;
}

.success-style{
	-fx-pref-width: 400px;
    -fx-pref-height: 200px;
	-fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-font-family: "VT323";
    -fx-font-size: 21px;
}

.sidebutton{
	-fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 140px;        
    -fx-pref-height: 40px;        
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px 10px 0px 10px;
    -fx-font-size: 28px;
    -fx-font-family: "Jersey 10";
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0;     
    -fx-alignment: center;
    -fx-cursor: hand;  
}

.sidebutton:hover{
    -fx-font-size: 30px;
    -fx-font-family: "Jersey 10";
    -fx-font-weight: bold; 
}

.sidebar{
	-fx-background-color: #4E7711; 
	-fx-pref-width: 140px; 
	-fx-max-height: infinity;
}

.hello-style{
	-fx-font-size: 60px;
	-fx-font-family: "Jersey 10";
	-fx-font-weight: bold;
	-fx-text-alignment: justify;
}

.paragraph-style{
	-fx-text-fill: #486F0E; 
	-fx-font-size: 28px;
	-fx-font-family: "VT323";
	-fx-padding: 0px 50px 10px 50px;
	-fx-text-alignment: justify;
}

.info-style{
	-fx-text-fill: #486F0E; 
	-fx-font-size: 28px;
	-fx-font-family: "VT323";
}

.details-style{
	-fx-font-weight: bold;
	-fx-font-family: "Dotempt 8bit";
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #BDD280, #789D2B);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: "Jersey 10";
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-text-alignment: center;
    -fx-padding: 10px 5px 10px 5px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #BDD280;
    -fx-border-width: 7px;
    -fx-border-radius: 21px 21px 0 0;
}

.table-view .corner {
    -fx-background-color: transparent;  
}

.table-view .column-header-background {
    -fx-background-radius: 20px 20px 0 0;  
}

.table-view .column-header{
    -fx-background-radius: 20px 20px 0 0;
}

.table-view .table-cell {
    -fx-font-weight: bold;
	-fx-font-size: 16px;
    -fx-padding: 5 10 5 10;
    -fx-font-family:"Crimson Text";
    -fx-effect: dropshadow( one-pass-box , black , 1, 0.0 , 0 , 0 );
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: #b7bdbc;
}

.table-row-cell, .table-cell {
    -fx-border-color: #dddddd;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:selected {
    -fx-background-color: #4E7711;
}

.table-row-cell:hover {
    -fx-background-color: #789D2B;
    -fx-text-fill: white;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.course-textfields{
    -fx-background-size: 30px 30px;
	-fx-alignment: center;
    -fx-pref-height: 50px;
    -fx-padding: 0px 70px 0px 70px;
    -fx-background-color: white;
    -fx-border-color: #BDD280;
    -fx-border-width: 7px;
    -fx-border-radius: 18px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "VT323"; 
    -fx-font-size: 21px;
}

.error-message{
	-fx-font-family: "Jersey 10";
	-fx-text-fill: #4E7711; 
	-fx-font-size: 52px;
}

.error-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 21px;
    -fx-text-fill: white; 
}

.error-button:hover{
    -fx-background-color: #E5E8C9;
    -fx-text-fill: #4E7711; 
}

.extra-button{
	-fx-pref-width: 160px;
	-fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 18px; 
}

.extra-button:hover{
    -fx-background-color: #E5E8C9;
}

.clear-button{
	-fx-pref-width: 160px;
	-fx-background-color: #f44336;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 18px; 
}

.clear-button:hover{
	-fx-background-color: #e8938d;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 4;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #b5bac1;
    -fx-background-radius: 4;
    -fx-padding: 2px;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #7f858e;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: " ";
}

.schedule-grid {
    -fx-background-color: #fdfdfd;
    -fx-border-color: #cccccc;
    -fx-border-radius: 7px;
    -fx-border-width: 1;
}

.schedule-cell {
    -fx-background-color: #ffffff;
    -fx-border-radius: 7px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0.5;
}

.schedule-hour {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #555555;
    -fx-alignment: center;
}

.schedule-day {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.schedule-header{
	-fx-background-color: #e8f0d9;
}
